# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env
.venv

# Pytest
.pytest_cache/
*.cover
.coverage*
.cache

# Allure results
allure-results/
allure-report/

# IDE configs (только если ты используешь PyCharm)
.idea/

# Logs and misc
*.log
*.csv
*.html